/* set your cache clolors  */
@import url("file:///home/diex/.cache/wal/colors-waybar.css");

* {
    border: none;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
    font-size: 15px;


}

window#waybar {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    min-height: 35px;
}

#clock {
    padding: 0 5px;
    margin: 0 5px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);

}
#custom-coffee{
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}


/*non act*/
#workspaces button {
    margin: 0 2px;
    min-width: 50px;
    min-height: 28px;
    padding: 0;
    background: alpha(#000000, 0.3);
    border-radius: 100px;
    transition: 0.2s ease-in-out;
}

/* ACTIVE */
#workspaces button.focused {
    min-width: 100px;
    background: linear-gradient(30deg, @color7 0%, rgba(74, 74, 74, 0) 100%);
    border-radius: 100px;
    /*border: 2px solid rgb(14, 21, 27);*/
    padding: 0 5px;
    transition: 0.2s ease-in-out;
}

/*dump trans*/
#workspaces button.visible,
#workspaces button.urgent,
#workspaces button.persistent,
#workspaces button.empty {

    transition: 0.2s ease-in-out;
}
#custom-coffee,
#clock {
    /*background: rgba(25, 43, 75, 0.5);*/
    font-size: 30px;
    font-weight: 900;
    border-radius: 50px;
    color: @color7;
}
#custom-power,
#tray,
#mpd {

    font-weight: 900;
    background: alpha(#000000, 0.3);
    color: @color7 ;
    padding: 0 10px;
    margin: 0 3px;
    border-radius: 50px;
    font-size: 18px;

}
#tray,
#custom-power {
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
    /*background: rgb(191, 97, 106)*/

}

.modules-center,
.modules-right,
.modules-left {
    margin-top: 10px;
    padding: 0 15px;
    min-height: 35px;
}

#custom-logo{
    font-size: 30px;
    color: @color7;
}
#utilities{
    background: alpha(#000000, 0.3);
    border-radius: 50px;
    padding: 0 12px;
    margin: 0 6px;
    min-height: 35px;
    font-weight: 900;
    color: @color7 ;

}
#utilities button,
#utilities label {
    margin: 0 8px;
    font-size: 18px;

}
#custom-logo,
#workspaces button {
    margin: 0 5px;
}
