@import url("file:///home/diex/.cache/wal/colors-waybar.css");
* {
	background-image: none;
	box-shadow: none;
}

window {
	
	background-color: rgba(12, 12, 12, 0.2);
}

button {
    	border-radius: 20px;
    	border-color: @color7 ;
	text-decoration-color: #FFFFFF;
    	color: #FFFFFF;
	background-color:rgba(12, 12, 12, 0.3); 
	border-style: solid;
	border-width: 3px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	padding: 0 10px;
    	margin: 10px;
	font-size:20px;
	font-family: "SF Pro Display";
	font-weight: 900;

}

button:focus, button:active, button:hover {
	background-color: @color7 ;;
	outline-style: none;
}
/* SET IMGE HERE  */
/* #lock {
    background-image: image(url(""), url(""));
}

#logout {
    background-image: image(url(""), url(""));
}

#suspend {
    background-image: image(url(""), url(""));
}

#hibernate {
    background-image: image(url(""), url(""));
}

#shutdown {
    background-image: image(url(""), url(""));
}

#reboot {
    background-image: image(url(""), url(""));
} */
